templates/koa-da-ecodistribucion-simpliroute.yml
Resources:

  DevTeamsNotifications:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: develop-teams-notifications

  # ---------- Lambda Functions ----------
  LambdaRoutesSimplirouteCL:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "Lambda-da-routes-simpliroute-${pCountryCl}"
      Handler: index.handler
      Role: !GetAtt LambdaSimpliRouteKpiRole.Arn
      Runtime: python3.12
      Timeout: 180
      MemorySize: 512
      Code:
        ZipFile: |
          import os
          def handler(event, context):
              desarrollador = os.getenv("DEVELOPER", "Desconocido")
              return {"statusCode": 200, "body": f"Hola mundo desde {desarrollador}", "input": event}
      Environment:
        Variables:
          ACCOUNT_ID: !Ref pAWSAccountId
          DEVELOPER: !Ref pdeveloper
      Tags:
        - Key: Developer
          Value: !Ref pdeveloper

  LambdaInvoicesSimplirouteCL:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "Lambda-da-invoices-simpliroute-${pCountryCl}"
      Handler: index.handler
      Role: !GetAtt LambdaSimpliRouteKpiRole.Arn
      Runtime: python3.12
      Timeout: 180
      MemorySize: 512
      Code:
        ZipFile: |
          import os
          def handler(event, context):
              desarrollador = os.getenv("DEVELOPER", "Desconocido")
              return {"statusCode": 200, "body": f"Hola mundo desde {desarrollador}", "input": event}
      Environment:
        Variables:
          ACCOUNT_ID: !Ref pAWSAccountId
          DEVELOPER: !Ref pdeveloper
      Tags:
        - Key: Developer
          Value: !Ref pdeveloper

  LambdaVisitsSimplirouteCL:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "Lambda-da-visits-simpliroute-${pCountryCl}"
      Handler: index.handler
      Role: !GetAtt LambdaSimpliRouteKpiRole.Arn
      Runtime: python3.12
      Timeout: 180
      MemorySize: 512
      Code:
        ZipFile: |
          import os
          def handler(event, context):
              desarrollador = os.getenv("DEVELOPER", "Desconocido")
              return {"statusCode": 200, "body": f"Hola mundo desde {desarrollador}", "input": event}
      Environment:
        Variables:
          ACCOUNT_ID: !Ref pAWSAccountId
          DEVELOPER: !Ref pdeveloper
      Tags:
        - Key: Developer
          Value: !Ref pdeveloper

  # ---------- IAM Roles ----------
  LambdaSimpliRouteKpiRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: LambdaSimpliRouteKpiRole
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  SMSimpliRouteKpiRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: SMSimpliRouteKpiRole
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SMLambdaAndSNSPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt LambdaRoutesSimplirouteCL.Arn
                  - !GetAtt LambdaInvoicesSimplirouteCL.Arn
                  - !GetAtt LambdaVisitsSimplirouteCL.Arn
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref DevTeamsNotifications
        - PolicyName: SMXRayPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                Resource: "*"

  # (Opcional) Log group para Step Functions.
  StepFnLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/vended/sfn/sm-simpliroute-kpi-${pCountryCl}"
      RetentionInDays: 14

  # ---------- Step Functions State Machine ----------
# ---------- Step Functions State Machine ----------
SMSimpliRouteKpi:
  Type: AWS::StepFunctions::StateMachine
  Properties:
    RoleArn: !GetAtt SMSimpliRouteKpiRole.Arn
    StateMachineName: !Sub "sm-simpliroute-kpi-${pCountryCl}"
    TracingConfiguration:
      Enabled: true
    DefinitionString:
      !Sub |
        {
          "Comment": "Step Function ejecutando 3 Lambdas en paralelo con reintentos, timeouts y consolidación de resultados",
          "StartAt": "ParallelExecution",
          "States": {
            "ParallelExecution": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "LambdaRoutes",
                  "States": {
                    "LambdaRoutes": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "TimeoutSeconds": 300,
                      "Parameters": {
                        "FunctionName": "${LambdaRoutesSimplirouteCL}",
                        "Payload.$": "$"
                      },
                      "OutputPath": "$.Payload",
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "Lambda.ServiceException",
                            "Lambda.AWSLambdaException",
                            "Lambda.SdkClientException"
                          ],
                          "IntervalSeconds": 2,
                          "MaxAttempts": 3,
                          "BackoffRate": 2.0
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "LambdaInvoices",
                  "States": {
                    "LambdaInvoices": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "TimeoutSeconds": 300,
                      "Parameters": {
                        "FunctionName": "${LambdaInvoicesSimplirouteCL}",
                        "Payload.$": "$"
                      },
                      "OutputPath": "$.Payload",
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "Lambda.ServiceException",
                            "Lambda.AWSLambdaException",
                            "Lambda.SdkClientException"
                          ],
                          "IntervalSeconds": 2,
                          "MaxAttempts": 3,
                          "BackoffRate": 2.0
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "LambdaVisits",
                  "States": {
                    "LambdaVisits": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "TimeoutSeconds": 300,
                      "Parameters": {
                        "FunctionName": "${LambdaVisitsSimplirouteCL}",
                        "Payload.$": "$"
                      },
                      "OutputPath": "$.Payload",
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "Lambda.ServiceException",
                            "Lambda.AWSLambdaException",
                            "Lambda.SdkClientException"
                          ],
                          "IntervalSeconds": 2,
                          "MaxAttempts": 3,
                          "BackoffRate": 2.0
                        }
                      ],
                      "End": true
                    }
                  }
                }
              ],
              "Next": "ConsolidateResults",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.ErrorInfo",
                  "Next": "NotifyFailure"
                }
              ]
            },
            "ConsolidateResults": {
              "Type": "Pass",
              "Parameters": {
                "routes.$": "$[0]",
                "invoices.$": "$[1]",
                "visits.$": "$[2]"
              },
              "ResultPath": "$",
              "Next": "NotifySuccess"
            },
            "NotifySuccess": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${DevTeamsNotifications}",
                "Subject": "SFN sm-simpliroute-kpi - Éxito",
                "Message.$": "States.Format('Ejecución OK | Exec: {0}\nRoutes: {1}\nInvoices: {2}\nVisits: {3}', $$.Execution.Id, States.JsonToString($.routes), States.JsonToString($.invoices), States.JsonToString($.visits))"
              },
              "Next": "SuccessState"
            },
            "NotifyFailure": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${DevTeamsNotifications}",
                "Subject": "SFN sm-simpliroute-kpi - Falla",
                "Message.$": "States.Format('Falla en {0}: {1} | Msg: {2} | Exec: {3}', $$.State.Name, $.ErrorInfo.Error, States.StringToJson($.ErrorInfo.Cause).errorMessage, $$.Execution.Id)"
              },
              "Next": "FailState"
            },
            "SuccessState": { "Type": "Succeed" },
            "FailState": {
              "Type": "Fail",
              "Error": "StepFunctionFailed",
              "Cause": "Una Lambda falló incluso después de reintentos"
            }
          }
        }

