templates/koa-da-ecodistribucion-simpliroute.yml
AWSTemplateFormatVersion: "2010-09-09"
Description: Template for creating AWS Proyecto Optimizador

Parameters:
  Stage:
    Type: String
    Description: Environment name (dev/qa/prod)
    AllowedValues: [dev, qa, prod]
  pBranchName:
    Type: String
    Description: "Branch Name(all lowercase, no symbols or spaces)"
  pArtifactsBucket:
    Type: String
    Description: "Artifact Bucket (all lowercase, no symbols or spaces)"
  pbucketAnalytics:
    Type: String
    Description: "Artifact Bucket (all lowercase, no symbols or spaces)"
  pAWSRegion:
    Type: String
    Description: "AWS region (all lowercase, no symbols or spaces)"
  pAWSAccountId:
    Type: String
    Description: "AWS account ID (all lowercase, no symbols or spaces)"
  pAWSAccountOpt:
    Type: String
    Description: "AWS account optimizador ID (all lowercase, no symbols or spaces)"
  pAccountName:
    Type: String
    Description: "AWS account name (all lowercase, no symbols or spaces)"
  pTeamName:
    Type: String
    Description: "Team Name (all lowercase, no symbols or spaces)"
  pdeploymentDate:
    Type: String
    Description: "Deployment date (all lowercase, no symbols or spaces)"
  pdbStageName:
    Type: String
    Description: "Database Stage name (all lowercase, no symbols or spaces)"
  pdbAnalyticsName:
    Type: String
    Description: "Database analytics name (all lowercase, no symbols or spaces)"
  pdeveloper:
    Type: String
    Description: "Developer name"
    Default: Josemaria_Paucar
  pRDAWSAccountId:
    Type: String
    Description: "Account Ruta Digital (all lowercase, no symbols or spaces)"
  # Country parameters
  pCountryCl:
    Type: String
    Description: "Country code for Chile"
    Default: "cl"
  pCountryPy:
    Type: String
    Description: "Country code for Paraguay"
    Default: "py"
  pCountryAr:
    Type: String
    Description: "Country code for Argentina"
    Default: "ar"
  pCountryBr:
    Type: String
    Description: "Country code for Brazil"
    Default: "br"
  pCountryRg:
    Type: String
    Description: "Country code for Regional"
    Default: "rg"

Resources:

  DevTeamsNotifications:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: develop-teams-notifications

  LambdaRoutesSimplirouteCL:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "Lambda-da-routes-simpliroute-${pCountryCl}"
      Handler: lambda_function.lambda_handler
      Role: !GetAtt LambdaSimpliRouteKpiRole.Arn
      Runtime: python3.12
      Timeout: 180
      MemorySize: 512
      Code:
        ZipFile: |
          import os
          def handler(event, context):
              desarrollador = os.getenv("DEVELOPER", "Desconocido")
              return {"statusCode": 200, "body": f"Hola mundo desde {desarrollador}"}
      Environment:
        Variables:
          ACCOUNT_ID: !Ref pAWSAccountId
      Tags:
        - Key: develop
          Value: !Ref pdeveloper

  LambdaInvoicesSimplirouteCL:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "Lambda-da-invoices-simpliroute-${pCountryCl}"
      Handler: lambda_function.lambda_handler
      Role: !GetAtt LambdaSimpliRouteKpiRole.Arn
      Runtime: python3.12
      Timeout: 180
      MemorySize: 512
      Code:
        ZipFile: |
          import os
          def handler(event, context):
              desarrollador = os.getenv("DEVELOPER", "Desconocido")
              return {"statusCode": 200, "body": f"Hola mundo desde {desarrollador}"}
      Environment:
        Variables:
          ACCOUNT_ID: !Ref pAWSAccountId
      Tags:
        - Key: develop
          Value: !Ref pdeveloper

  LambdaVisitsSimplirouteCL:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "Lambda-da-visits-simpliroute-${pCountryCl}"
      Handler: lambda_function.lambda_handler
      Role: !GetAtt LambdaSimpliRouteKpiRole.Arn
      Runtime: python3.12
      Timeout: 180
      MemorySize: 512
      Code:
        ZipFile: |
          import os
          def handler(event, context):
              desarrollador = os.getenv("DEVELOPER", "Desconocido")
              return {"statusCode": 200, "body": f"Hola mundo desde {desarrollador}"}
      Environment:
        Variables:
          ACCOUNT_ID: !Ref pAWSAccountId
      Tags:
        - Key: develop
          Value: !Ref pdeveloper

  # Rol para las Lambdas
  LambdaSimpliRouteKpiRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: LambdaSimpliRouteKpiRole
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  # Rol para Step Function
  SMSimpliRouteKpiRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: SMSimpliRouteKpiRole
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SMLambdaPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: 
                  - !GetAtt LambdaRoutesSimplirouteCL.Arn
                  - !GetAtt LambdaInvoicesSimplirouteCL.Arn
                  - !GetAtt LambdaVisitsSimplirouteCL.Arn
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref DevTeamsNotifications

  SMSimpliRouteKpi:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt SMSimpliRouteKpiRole.Arn
      StateMachineName: !Sub "sm-simpliroute-kpi-${pCountryCl}"
      DefinitionString:
        !Sub |
          {
            "Comment": "Step Function ejecutando 3 Lambdas en paralelo con reintentos y notificación",
            "StartAt": "ParallelExecution",
            "States": {
              "ParallelExecution": {
                "Type": "Parallel",
                "Branches": [
                  {
                    "StartAt": "LambdaRoutes",
                    "States": {
                      "LambdaRoutes": {
                        "Type": "Task",
                        "Resource": "${LambdaRoutesSimplirouteCL.Arn}",
                        "Retry": [
                          {
                            "ErrorEquals": ["States.ALL"],
                            "IntervalSeconds": 2,
                            "MaxAttempts": 3,
                            "BackoffRate": 2.0
                          }
                        ],
                        "End": true
                      }
                    }
                  },
                  {
                    "StartAt": "LambdaInvoices",
                    "States": {
                      "LambdaInvoices": {
                        "Type": "Task",
                        "Resource": "${LambdaInvoicesSimplirouteCL.Arn}",
                        "Retry": [
                          {
                            "ErrorEquals": ["States.ALL"],
                            "IntervalSeconds": 2,
                            "MaxAttempts": 3,
                            "BackoffRate": 2.0
                          }
                        ],
                        "End": true
                      }
                    }
                  },
                  {
                    "StartAt": "LambdaVisits",
                    "States": {
                      "LambdaVisits": {
                        "Type": "Task",
                        "Resource": "${LambdaVisitsSimplirouteCL.Arn}",
                        "Retry": [
                          {
                            "ErrorEquals": ["States.ALL"],
                            "IntervalSeconds": 2,
                            "MaxAttempts": 3,
                            "BackoffRate": 2.0
                          }
                        ],
                        "End": true
                      }
                    }
                  }
                ],
                "Next": "SuccessState",
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.ErrorInfo",
                    "Next": "PrepareErrorMessage"
                  }
                ]
              },
              "PrepareErrorMessage": {
                "Type": "Pass",
                "ResultPath": "$.NotificationMessage",
                "Parameters": {
                  "StateName.$": "$$.State.Name",
                  "Error.$": "$.ErrorInfo.Error",
                  "LambdaArn.$": "States.JsonToString(States.Choice($.StateName == 'LambdaRoutes', '${LambdaRoutesSimplirouteCL.Arn}', States.Choice($.StateName == 'LambdaInvoices', '${LambdaInvoicesSimplirouteCL.Arn}', '${LambdaVisitsSimplirouteCL.Arn}')))",
                  "Message.$": "States.Format('La Step Function falló en el estado {0} (ARN: {1}) con error: {2}', $$.State.Name, States.JsonToString(States.Choice($.StateName == 'LambdaRoutes', '${LambdaRoutesSimplirouteCL.Arn}', States.Choice($.StateName == 'LambdaInvoices', '${LambdaInvoicesSimplirouteCL.Arn}', '${LambdaVisitsSimplirouteCL.Arn}'))), $.ErrorInfo.Error)"
                },
                "Next": "NotifyFailure"
              },
              "NotifyFailure": {
                "Type": "Task",
                "Resource": "arn:aws:states:::sns:publish",
                "Parameters": {
                  "TopicArn": "${DevTeamsNotifications}",
                  "Message.$": "$.NotificationMessage.Message"
                },
                "Next": "FailState"
              },
              "SuccessState": {
                "Type": "Succeed"
              },
              "FailState": {
                "Type": "Fail",
                "Error": "StepFunctionFailed",
                "Cause": "Una Lambda falló incluso después de reintentos"
              }
            }
          }


