templates/koa-da-ecodistribucion-optimizador.yml
AWSTemplateFormatVersion: "2010-09-09"
Description: Template for creating AWS Proyecto skycop API

Parameters:
  Stage:
    Type: String
    Description: Environment name (dev/qa/prod)
    AllowedValues: [dev, qa, prod]
  pBranchName:
    Description: "Branch Name(all lowercase, no symbols or spaces)"
    Type: String
  pArtifactsBucket:
    Description: "Artifact Bucket (all lowercase, no symbols or spaces)"
    Type: String
  pbucketAnalytics:
    Description: "Artifact Bucket (all lowercase, no symbols or spaces)"
    Type: String
  pAWSRegion:
    Description: "AWS region (all lowercase, no symbols or spaces)"
    Type: String
  pAWSAccountId:
    Description: "AWS account ID (all lowercase, no symbols or spaces)"
    Type: String
  pAWSAccountOpt:
    Description: "AWS account optimizador ID (all lowercase, no symbols or spaces)"
    Type: String
  pAccountName:
    Description: "AWS account name (all lowercase, no symbols or spaces)"
    Type: String
  pTeamName:
    Description: "Team Name (all lowercase, no symbols or spaces)"
    Type: String
  pdeploymentDate:
    Description: "Deployment date (all lowercase, no symbols or spaces)"
    Type: String
  pdbStageName:
    Description: "Database Stage name (all lowercase, no symbols or spaces)"
    Type: String
  pdbAnalyticsName:
    Description: "Database analytics name (all lowercase, no symbols or spaces)"
    Type: String
  pdeveloper:
    Description: "Database analytics name (all lowercase, no symbols or spaces)"
    Type: String
    Default: "Josemaria_Paucar"
  pRDAWSAccountId:
    Description: "Account Ruta Digital (all lowercase, no symbols or spaces)"
    Type: String
  # País parameters
  pCountryCl:
    Description: "Country code for Chile"
    Type: String
    Default: "cl"
  pCountryPy:
    Description: "Country code for Paraguay"
    Type: String
    Default: "py"
  pCountryAr:
    Description: "Country code for Argentina"
    Type: String
    Default: "ar"
  pCountryBr:
    Description: "Country code for Brazil"
    Type: String
    Default: "br"
  pCountryRg:
    Description: "Country code for Regional"
    Type: String
    Default: "rg"
  # Required for referenced resources.
  pAccountAwsLayer:
    Description: "Id account layer for AWS Wrangler"
    Type: String
    Default: 336392948345
  # Nuevos parámetros para configuración dinámica
  pSkycopCronExpression:
    Description: "Expresión cron para la programación del consolidado ETA"
    Type: String
    Default: "cron(0 7 * * ? *)"
  pSkycopMemorySize:
    Description: "Tamaño de memoria para la función Lambda SR de ETA"
    Type: Number
    Default: 512
  pSkycopMemorySizeConsolidado:
    Description: "Tamaño de memoria para la función Lambda de consolidado ETA"
    Type: Number
    Default: 2048
  pSkycopTimeout:
    Description: "Timeout para la función Lambda SR de ETA"
    Type: Number
    Default: 360
  pSkycopSpeedingTimeout:
    Description: "Timeout para la función Lambda SR de ETA"
    Type: Number
    Default: 500    
  pSkycopTimeoutConsolidado:
    Description: "Timeout para la función Lambda de consolidado ETA"
    Type: Number
    Default: 900

Resources:
  skycopPyRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "role-${pTeamName}-skycop-${pCountryPy}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: cloudwatchlog
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
                Effect: Allow
                Action:
                  - "logs:CreateLogGroup"
                  - "logs:CreateLogStream"
                  - "logs:PutLogEvents"
                Resource: "arn:aws:logs:*:*:*"

        - PolicyName: S3AccessPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:DeleteObject
                Resource: !Sub "arn:aws:s3:::da-ecodistribucion-analytics-${Stage}/*"
              - Effect: Allow
                Action:
                  - s3:ListBucket
                Resource: !Sub "arn:aws:s3:::da-ecodistribucion-analytics-${Stage}"
              - Sid: ReadSecretsManager
                Effect: Allow
                Action:
                  - "secretsmanager:GetSecretValue"
                  - "secretsmanager:DescribeSecret"
                  - "secretsmanager:ListSecrets"
                Resource:
                  - !Ref skycopKeyCredentialsSecrets                
      Tags:
        - Key: develop
          Value: !Ref pdeveloper

  # Recurso para almacenar los tokens de API en Secrets Manager
  skycopKeyCredentialsSecrets:
    Type: AWS::SecretsManager::Secret
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Properties:
      Name: "key-skycop-credential"
      Description: "Credenciales token para (skycop)"
      SecretString: !Sub |
        {
          "key-skycop": {
            "token": "your-token"
          }
        }
      Tags:
        - Key: develop
          Value: !Ref pdeveloper
 
  skycopFleetDrivingEventsPyLambda: 
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "Lambda-${pTeamName}-skycop-fleetdrivingevents-${pCountryPy}"
      Handler: lambda_function.lambda_handler
      Role: !GetAtt skycopPyRole.Arn
      Runtime: python3.12
      Timeout: !Ref pSkycopTimeout
      MemorySize: !Ref pSkycopMemorySize
      Code:
        ZipFile: |
          def lambda_handler(event, context):
              return {
                  "statusCode": 200,
                  "body": "hola koandina"
              }
      Environment:
        Variables:
          ACCOUNT_ID: !Ref pAWSAccountId
          SKYCOP_TOKEN_SECRETS_NAME: !Ref skycopKeyCredentialsSecrets
          ANALYTICS_BUCKET_NAME : !Ref pbucketAnalytics
      Layers:
        - !Sub "arn:aws:lambda:${pAWSRegion}:${pAccountAwsLayer}:layer:AWSSDKPandas-Python312:16"
      Tags:
        - Key: develop
          Value: !Ref pdeveloper

  skycopFleetStopPyLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "Lambda-${pTeamName}-skycop-fleetstop-${pCountryPy}"
      Handler: lambda_function.lambda_handler
      Role: !GetAtt skycopPyRole.Arn
      Runtime: python3.12
      Timeout: !Ref pSkycopTimeout
      MemorySize: !Ref pSkycopMemorySize
      Code:
        ZipFile: |
          def lambda_handler(event, context):
              return {
                  "statusCode": 200,
                  "body": "hola koandina"
              }
      Environment:
        Variables:
          ACCOUNT_ID: !Ref pAWSAccountId
          SKYCOP_TOKEN_SECRETS_NAME: !Ref skycopKeyCredentialsSecrets
          ANALYTICS_BUCKET_NAME : !Ref pbucketAnalytics
      Layers:
        - !Sub "arn:aws:lambda:${pAWSRegion}:${pAccountAwsLayer}:layer:AWSSDKPandas-Python312:16"
      Tags:
        - Key: develop
          Value: !Ref pdeveloper

  skycopSpeedingsPyLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "Lambda-${pTeamName}-skycop-speedings-${pCountryPy}"
      Handler: lambda_function.lambda_handler
      Role: !GetAtt skycopPyRole.Arn
      Runtime: python3.12
      Timeout: !Ref pSkycopSpeedingTimeout
      MemorySize: !Ref pSkycopMemorySize
      Code:
        ZipFile: |
          def lambda_handler(event, context):
              return {
                  "statusCode": 200,
                  "body": "hola koandina"
              }
      Environment:
        Variables:
          ACCOUNT_ID: !Ref pAWSAccountId
          SKYCOP_TOKEN_SECRETS_NAME: !Ref skycopKeyCredentialsSecrets
          ANALYTICS_BUCKET_NAME : !Ref pbucketAnalytics
      Layers:
        - !Sub "arn:aws:lambda:${pAWSRegion}:${pAccountAwsLayer}:layer:AWSSDKPandas-Python312:16"
      Tags:
        - Key: develop
          Value: !Ref pdeveloper          

  skycopEventsPyLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "Lambda-${pTeamName}-skycop-eventos-${pCountryPy}"
      Handler: lambda_function.lambda_handler
      Role: !GetAtt skycopPyRole.Arn
      Runtime: python3.12
      Timeout: !Ref pSkycopTimeout
      MemorySize: !Ref pSkycopMemorySize
      Code:
        ZipFile: |
          def lambda_handler(event, context):
              return {
                  "statusCode": 200,
                  "body": "hola koandina"
              }
      Environment:
        Variables:
          ACCOUNT_ID: !Ref pAWSAccountId
          SKYCOP_TOKEN_SECRETS_NAME: !Ref skycopKeyCredentialsSecrets
          ANALYTICS_BUCKET_NAME : !Ref pbucketAnalytics
      Layers:
        - !Sub "arn:aws:lambda:${pAWSRegion}:${pAccountAwsLayer}:layer:AWSSDKPandas-Python312:16"
      Tags:
        - Key: develop
          Value: !Ref pdeveloper

  SMSkycopKpi:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt skycopPyRole.Arn
      StateMachineName: !Sub "sm-skycop-${pCountryPy}"
      TracingConfiguration:
        Enabled: true
      DefinitionString: !Sub |
        {
          "Comment": "Step Function ejecutando 4 Lambdas en paralelo con reintentos",
          "StartAt": "ParallelExecution",
          "States": {
            "ParallelExecution": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "FleetDrivingEvents",
                  "States": {
                    "FleetDrivingEvents": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "Parameters": {
                        "FunctionName": "${skycopFleetDrivingEventsPyLambda.Arn}",
                        "Payload.$": "$"
                      },
                      "OutputPath": "$.Payload",
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "Lambda.ServiceException",
                            "Lambda.AWSLambdaException",
                            "Lambda.SdkClientException"
                          ],
                          "IntervalSeconds": 60,
                          "MaxAttempts": 3,
                          "BackoffRate": 2.0
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "FleetStop",
                  "States": {
                    "FleetStop": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "Parameters": {
                        "FunctionName": "${skycopFleetStopPyLambda.Arn}",
                        "Payload.$": "$"
                      },
                      "OutputPath": "$.Payload",
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "Lambda.ServiceException",
                            "Lambda.AWSLambdaException",
                            "Lambda.SdkClientException"
                          ],
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2,
                          "BackoffRate": 1.0
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Speedings",
                  "States": {
                    "Speedings": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "Parameters": {
                        "FunctionName": "${skycopSpeedingsPyLambda.Arn}",
                        "Payload.$": "$"
                      },
                      "OutputPath": "$.Payload",
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "Lambda.ServiceException",
                            "Lambda.AWSLambdaException",
                            "Lambda.SdkClientException"
                          ],
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2,
                          "BackoffRate": 1.0
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Eventos",
                  "States": {
                    "Eventos": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "Parameters": {
                        "FunctionName": "${skycopEventsPyLambda.Arn}",
                        "Payload.$": "$"
                      },
                      "OutputPath": "$.Payload",
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "Lambda.ServiceException",
                            "Lambda.AWSLambdaException",
                            "Lambda.SdkClientException"
                          ],
                          "IntervalSeconds": 60,
                          "MaxAttempts": 2,
                          "BackoffRate": 1.0
                        }
                      ],
                      "End": true
                    }
                  }
                }
              ],
              "Next": "SuccessState",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "FailState"
                }
              ]
            },
            "SuccessState": { "Type": "Succeed" },
            "FailState": {
              "Type": "Fail",
              "Error": "StepFunctionFailed",
              "Cause": "Una Lambda falló incluso después de reintentos"
            }
          }
        }

  EventRuleSMRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: AllowStartExecution
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref SMSkycopKpi

  SMfnEventRule:
    Type: AWS::Events::Rule
    Properties:
      ScheduleExpression: "cron(0 11 * * ? *)" 
      State: ENABLED
      Targets:
        - Id: !Sub "target-skycop-${pCountryPy}"
          Arn: !Ref SMSkycopKpi
          RoleArn: !GetAtt EventRuleSMRole.Arn

  # Tabla para datos SKYCOP de eventos.
  skycopEventosAnalyticsTable:
    Type: AWS::Glue::Table
    Properties:
      CatalogId: !Ref pAWSAccountId
      DatabaseName: !Ref pdbAnalyticsName
      TableInput:
        Name: py_sc_skycop_event_ent_sal_analytics
        TableType: EXTERNAL_TABLE
        Description: Tabla para consultar datos de SKYCOP Eventos
        Parameters:
          "classification": "json"
          "compressionType": "SNAPPY"
          "projection.enabled": "true"
          "projection.year.type": "integer"
          "projection.year.digits": "4"
          "projection.year.range": "2023,2035"
          "projection.month.type": "integer"
          "projection.month.digits": "2"
          "projection.month.range": "01,12"
          "projection.day.type": "integer"
          "projection.day.digits": "2"
          "projection.day.range": "01,31"
        PartitionKeys:
          - {Name: year, Type: string}
          - {Name: month, Type: string}
          - {Name: day, Type: string}
        StorageDescriptor:
          OutputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat
          Columns:
            - {Name: fecha, Type: string}
            - {Name: deviceid, Type: string}
            - {Name: date_time, Type: string}
            - {Name: description, Type: string}
            - {Name: deviceNumber, Type: string}            
            - {Name: driverName, Type: string}
            - {Name: event, Type: string}
            - {Name: geofence, Type: string}
            - {Name: heading , Type: double}
            - {Name: latitude, Type: double}
            - {Name: longitude, Type: double}
            - {Name: speed, Type: double}
            - {Name: title, Type: string}
          Location: !Sub s3://da-ecodistribucion-analytics-${Stage}/py/skycop/eventos_ent_sal/
          InputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat
          Compressed: true
          SerdeInfo:
            SerializationLibrary: org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe
  skycopFleetDrivingEventsAnalyticsTable:
    Type: AWS::Glue::Table
    Properties:
      CatalogId: !Ref pAWSAccountId
      DatabaseName: !Ref pdbAnalyticsName
      TableInput:
        Name: py_sc_skycop_fleet_driving_events_analytics
        TableType: EXTERNAL_TABLE
        Description: Tabla para consultar datos de SKYCOP FleetDrivingEvents
        Parameters:
          "classification": "json"
          "compressionType": "SNAPPY"
          "projection.enabled": "true"
          "projection.year.type": "integer"
          "projection.year.digits": "4"
          "projection.year.range": "2023,2035"
          "projection.month.type": "integer"
          "projection.month.digits": "2"
          "projection.month.range": "01,12"
          "projection.day.type": "integer"
          "projection.day.digits": "2"
          "projection.day.range": "01,31"
        PartitionKeys:
          - {Name: year, Type: string}
          - {Name: month, Type: string}
          - {Name: day, Type: string}
        StorageDescriptor:
          OutputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat
          Columns:
            - {Name: fecha, Type: string}
            - {Name: deviceId, Type: string}
            - {Name: date_time, Type: string}
            - {Name: eventCode, Type: string}
            - {Name: eventDescription, Type: string}
            - {Name: latitude, Type: double}
            - {Name: longitude, Type: double}
            - {Name: speed, Type: double}
          Location: !Sub s3://da-ecodistribucion-analytics-${Stage}/py/skycop/fleet_driving_events/
          InputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat
          Compressed: true
          SerdeInfo:
            SerializationLibrary: org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe
  skycopFleetStopAnalyticsTable:
    Type: AWS::Glue::Table
    Properties:
      CatalogId: !Ref pAWSAccountId
      DatabaseName: !Ref pdbAnalyticsName
      TableInput:
        Name: py_sc_skycop_fleet_stop_analytics
        TableType: EXTERNAL_TABLE
        Description: Tabla para consultar datos de SKYCOP FleetStop
        Parameters:
          "classification": "json"
          "compressionType": "SNAPPY"
          "projection.enabled": "true"
          "projection.year.type": "integer"
          "projection.year.digits": "4"
          "projection.year.range": "2023,2035"
          "projection.month.type": "integer"
          "projection.month.digits": "2"
          "projection.month.range": "01,12"
          "projection.day.type": "integer"
          "projection.day.digits": "2"
          "projection.day.range": "01,31"
        PartitionKeys:
          - {Name: year, Type: string}
          - {Name: month, Type: string}
          - {Name: day, Type: string}
        StorageDescriptor:
          OutputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat
          Columns:
            - {Name: fecha, Type: string}
            - {Name: deviceId, Type: string}
            - {Name: date_time, Type: string}
            - {Name: duration, Type: double}
            - {Name: latitude, Type: double}
            - {Name: longitude, Type: double}
          Location: !Sub s3://da-ecodistribucion-analytics-${Stage}/py/skycop/fleet_stops/
          InputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat
          Compressed: true
          SerdeInfo:
            SerializationLibrary: org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe
  skycopSpeedingsAnalyticsTable:
    Type: AWS::Glue::Table
    Properties:
      CatalogId: !Ref pAWSAccountId
      DatabaseName: !Ref pdbAnalyticsName
      TableInput:
        Name: py_sc_skycop_speedings_analytics
        TableType: EXTERNAL_TABLE
        Description: Tabla para consultar datos de SKYCOP Speedings
        Parameters:
          "classification": "json"
          "compressionType": "SNAPPY"
          "projection.enabled": "true"
          "projection.year.type": "integer"
          "projection.year.digits": "4"
          "projection.year.range": "2023,2035"
          "projection.month.type": "integer"
          "projection.month.digits": "2"
          "projection.month.range": "01,12"
          "projection.day.type": "integer"
          "projection.day.digits": "2"
          "projection.day.range": "01,31"
        PartitionKeys:
          - {Name: year, Type: string}
          - {Name: month, Type: string}
          - {Name: day, Type: string}
        StorageDescriptor:
          OutputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat
          Columns:
            - {Name: fecha, Type: string}
            - {Name: deviceId, Type: string}
            - {Name: deviceNumber, Type: string}
            - {Name: driverId, Type: string}
            - {Name: driverName, Type: string}
            - {Name: iButtonId, Type: string}
            - {Name: startDate, Type: string}
            - {Name: endDate, Type: string}
            - {Name: description, Type: string}
            - {Name: startLatitude, Type: double}
            - {Name: startLongitude, Type: double}
            - {Name: endLatitude, Type: double}
            - {Name: endLongitude, Type: double}
            - {Name: averageSpeed, Type: double}
            - {Name: maxSpeed, Type: double}
            - {Name: distance, Type: double}
            - {Name: duration, Type: double}
            - {Name: positions, Type: bigint}
            - {Name: zone, Type: string}
          Location: !Sub s3://da-ecodistribucion-analytics-${Stage}/py/skycop/speedings/
          InputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat
          Compressed: true
          SerdeInfo:
            SerializationLibrary: org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe
